<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.erazemk.common.env</string>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>
        launchctl setenv XDG_CACHE_HOME /Users/erazemk/.cache
        launchctl setenv XDG_CONFIG_HOME /Users/erazemk/.config
        launchctl setenv XDG_DATA_HOME /Users/erazemk/.local/share
        launchctl setenv PATH "$HOME/.local/bin:$PATH"

        launchctl setenv GIT_TERMINAL_PROMPT 1
        launchctl setenv GOPATH $XDG_DATA_HOME/go
        launchctl setenv PATH "$GOPATH/bin:$PATH"

        launchctl setenv OPENCODE_ENABLE_PARALLEL true
        launchctl setenv OPENCODE_EXPERIMENTAL_FILEWATCHER true
        launchctl setenv OPENCODE_EXPERIMENTAL_BACKGROUND_SUBAGENTS true
      </string>
    </array>
    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
