<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.erazemk.env</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>-c</string>
      <string>
        launchctl setenv EDITOR 'zed --wait'
        launchctl setenv GOPRIVATE github.com/devrev
        launchctl setenv COLIMA_HOME $XDG_CONFIG_HOME/colima

        launchctl setenv ARCUS_API_KEY $(/usr/bin/security find-generic-password -a devrev -s arcus-token -w)
        launchctl setenv DEVREV_API_KEY $(/usr/bin/security find-generic-password -a devrev -s devrev-token -w)
      </string>
    </array>
    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
