<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.erazemk.env</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>-c</string>
      <string>
        launchctl setenv ARCUS_API_KEY "$(/usr/bin/security find-generic-password -w -s 'arcus-token' -a 'devrev')"
        launchctl setenv DEVREV_API_KEY "$(/usr/bin/security find-generic-password -w -s 'DevRev API Key' -a 'API Keys')"
        launchctl setenv CIRCLECI_TOKEN "$(/usr/bin/security find-generic-password -w -s 'CircleCI Token' -a 'API Keys')"
        launchctl setenv OPENCODE_ENABLE_PARALLEL true
        launchctl setenv OPENCODE_EXPERIMENTAL_FILEWATCHER true
        launchctl setenv OPENCODE_EXPERIMENTAL_BACKGROUND_SUBAGENTS true
      </string>
    </array>
    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
