<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.erazemk.env</string>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>
        launchctl setenv EDITOR 'zed --wait'
        launchctl setenv GIT_TERMINAL_PROMPT 1
        launchctl setenv OPENCODE_ENABLE_EXA true
        launchctl setenv OPENCODE_EXPERIMENTAL true
        launchctl setenv XDG_CACHE_HOME /Users/erazemk/.cache
        launchctl setenv XDG_CONFIG_HOME /Users/erazemk/.config
        launchctl setenv XDG_DATA_HOME /Users/erazemk/.local/share
        launchctl setenv SSH_AUTH_SOCK /Users/erazemk/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock
      </string>
    </array>
    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
