<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.erazemk.env</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>-c</string>
      <string> launchctl setenv AWS_BEARER_TOKEN_BEDROCK "$(security find-generic-password -w -s
        aws-bedrock -a aws-bedrock)" launchctl setenv DEVREV_API_KEY "$(security
        find-generic-password -w -s devrev -a devrev)" launchctl setenv CIRCLECI_TOKEN "$(security
        find-generic-password -w -s circleci -a circleci)" </string>
    </array>
    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
